<?xml version="1.0" encoding="UTF-8"?>
<controller-info>

	<controller-host>{{ controller_hostName }}</controller-host>

	<controller-port>{{ controller_port }}</controller-port>

	<controller-ssl-enabled>false</controller-ssl-enabled>

	<application-name>{{ applicationName }}</application-name>

	<tier-name>{{ tierName }}</tier-name>

	<node-name>{{ nodeName }}</node-name>

	<agent-runtime-dir></agent-runtime-dir>

	<enable-orchestration>false</enable-orchestration>

	<account-name>{{ accountName }}</account-name>

	<account-access-key>{{ accountAccessKey }}</account-access-key>

	<force-agent-registration>false</force-agent-registration>

</controller-info>
